*{
    padding: 0px;
    margin: 0px;
    overflow-x: hidden;
    scrollbar-width: thin;
}
body{
    background-color: rgba(147, 223, 243, 0.575);
}
.navBar{
    width: 100vw;
    height: 8vh;
    background-color: rgb(49, 157, 204);
    display: flex;
    justify-content: end;
    align-items: center;
    background: rgb(39,131,183);
    background: linear-gradient(90deg, rgba(39,131,183,1) 0%, rgba(1,183,166,1) 100%, rgba(0,212,255,1) 100%);
}
#avatar{
    height: 6vh;
}
.options{
    margin-left: 3vw;
    margin-right: 3vw;
    font-size: 3vh;
    font-family: monospace;
    font-weight: bolder;
}
#account{
    height: 8vh;
    width: 4vw;
    background: none;
    border: unset;
    margin-right: 1.5vw;
}
#schedulerDiv{
    background-color: rgba(0, 0, 0, 0.224);
    height: 8vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
#scheduler{
    height: 8vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
li{
    display: inline-block;
    position: relative;
    left: 8vw;
}
.list{
    width: 100vw;
    position: absolute;
    margin: 3vh;
}
.liItem{
    width: 80vw;
    height: 10vh;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    border: 1px solid rgba(0, 0, 0, 0.559);
    align-items: center;
    border-radius: 20px;
    margin-top: 3vh;
}
.bellIcon{
    height: 4.5vh;
    position: relative;
    right: 5vw;
}
.medicineName{
    position: relative;
    font-size: 3vh;
}
.patientName{
    position: relative;
    font-size: 3vh;
}
.ammount{
    position: relative;
    font-size: 3vh;
}
.time{
    position: relative;
    font-size: 3vh;
}
@media(max-width: 570px){
    li{
        display: inline-block;
        position: relative;
        left: 3.5vw;
    }
    .list{
        width: 96vw;
        position: absolute;
        margin-top: 3vh;
    }
    .liItem{
        width: 92vw;
        height: 12vh;
        display: flex;
        flex-wrap: wrap;
        border: 1px solid rgba(0, 0, 0, 0.559);
        border-radius: 20px;
        margin-top: 3vh;
    }
    .bellIcon{
        height: 4.5vh;
        position: relative;
        left: 1vw;
        top: 3vh;
    }
    .medicineName{
        font-size: 2.5vh;
        height: 3vh;
        width: 35vw;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .patientName{
        font-size: 2.5vh;
        height: 3vh;
        width: 30vw;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .ammount{
        font-size: 2.5vh;
        height: 3vh;
        width: 20vw;
        display: flex;
        justify-content: center;
        align-items: center;

    }
    .time{
        font-size: 2.5vh;
        height: 3vh;
        width: 20vw;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}