*{
    padding: 0px;
    margin: 0px;
    scrollbar-width: thin;
    overflow-x: hidden;
}
.navBar{
    width: 100vw;
    height: 8vh;
    background-color: aqua;
    display: flex;
    justify-content: end;
    align-items: center;
    background: rgb(39,131,183);
    background: linear-gradient(90deg, rgba(39,131,183,1) 0%, rgba(1,183,166,1) 100%, rgba(0,212,255,1) 100%);
}
#avatar{
    height: 6vh;
}
.options{
    margin-left: 3vw;
    margin-right: 3vw;
    font-size: 3vh;
    font-family: monospace;
    font-weight: bolder;
}
#account{
    height: 8vh;
    width: 4vw;
    background: none;
    border: unset;
    margin-right: 1.5vw;
}
#schedulerDiv{
    background-color: rgba(0, 0, 0, 0.224);
    height: 8vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
li{
    display: inline-block;
    position: relative;
    left: 20vw;
}
.list{
    width: 90vw;
    position: absolute;
    margin: 3vh;
}
.liItem{
    width: 60vw;
    height: 10vh;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    border: 1px solid rgba(0, 0, 0, 0.559);
    align-items: center;
    border-radius: 20px;
    margin-top: 3vh;
}
.bellIcon{
    height: 4.5vh;
    position: relative;
    right: 7vw;
}
.medicineName{
    position: relative;
    right: 12vw;
    font-size: 3vh;
}
.ammount{
    position: relative;
    font-size: 3vh;
}
.time{
    position: relative;
    font-size: 3vh;
}


@media(max-width: 570px){
    li{
        display: inline-block;
        position: relative;
        left: 2vw;
    }
    .list{
        width: 94vw;
        position: absolute;
        margin: 3vh;
    }
    .liItem{
        width: 82vw;
        height: 10vh;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        border: 1px solid rgba(0, 0, 0, 0.559);
        align-items: center;
        border-radius: 20px;
        margin-top: 3vh;
    }
    .bellIcon{
        height: 4vh;
        position: relative;
        left: -2vw;
    }
    .medicineName{
        position: relative;
        right: 4vw;
        font-size: 2.5vh;
    }
    .ammount{
        position: relative;
        font-size: 2.5vh;
    }
    .time{
        position: relative;
        font-size: 2.5vh;
    }
}